@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
  border:none;
  outline:none;
  font-size:medium;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5% ;
}

body{
  width:100%;
  height:100%;
  overflow-x:hidden;
  background-color:black;
  color:white;
}

header{
  margin-top: 20px;
  position:fixed;
  top:'0';
  width: 100%;
  left:0;
  padding:1rem 9%;
  background-color: transparent;
  filter:drop-shadow(10px); 
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:100;
}

.logo{
  font-size: 3rem;
  font-weight: 800;
  color: blue;
  cursor:pointer;
  transition:0.5s ease;
}

.logo:hover{
  transform: scale(1.1);
}

nav a{
  font-size: 1.8rem;
  color: #fff;
  margin-left: 4rem;
  font-weight: 500;
  border-bottom:3px solid transparent;
  transition: 0.3s ease;
}

nav a:hover,
nav a.active{
  color:aqua;
  border-bottom: 3px solid #132ec7;
}

@media (max-width:995px){
  nav{
    position:absolute;
    display:none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid blue;
    background-color: black;
    border-bottom: 3px solid aqua;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    border-top: 0.1rem solid rgba(0,0,0,0.1);
  } /* Add responsive styles here */

nav.active{
  display: block;
}

nav a {
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}

nav a:hover,
nav a.active {
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid blue
}
}

section{
  min-height:100vh;
  padding:5rem 9% 5rem;
}

.scroll-down{
  height:50px;
  width:30px;
  position:absolute;
  border:2px solid lightgray;
  left:49%;
  bottom:8%;
  border-radius:50px;
  cursor:pointer;
  box-shadow:0 0 15px rgba(211, 211, 211, 0.877);
}
  .scroll-down::before,
  .scroll-down::after{
    content:"";
    position:absolute;
    top:20%;
    left:49%;
    height:10px;
    width:10px;
    border:2px solid lightgray;
    transform:translate(-50%, -100%) rotate(45deg);
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 2s ease-in-out infinite;
  }

  .scroll-down::before{
    top:30%;
    animation-delay:0.5s;
  }

  @keyframes scroll-down{
    0%{
      opacity:0%
    }
    30%, 60%{
      opacity:1;
    }
    100%{
      top:90%;
      opacity:0;
    }
  }

.home{
  display: flex;
  gap:8rem;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.home .home-content h1{
  font-size: 6rem;
  line-height:1.3;
  font-weight: 700;
}

span{
  color: #0b3ee4;
  font-size:90%;
}

.home-content h3{
  font-size: 6rem;
  font-weight: 700;
  margin-bottom:1rem;
}

.home-img{
  border-radius:50%;
}

.home-img img{
  position:relative;
  width: 32vw;
  cursor:pointer;
  transition:0.2s linear;
  box-shadow:0 0 25px solid blue;
  border-radius: 50%;
}

.home-img img:hover{
 font-size:1.8rem;
 font-weight:500;
}

.social-icons a{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width: 4rem;
  height: 4rem;
  background-color:transparent;
  border:0.2 solid aqua;
  font-size:2rem;
  border-radius:50%;
  margin:3rem 1.5rem 3rem 0;
  transition:0.3ease;
  color:white;
}

.social-icons a:hover{
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: blue;
  box-shadow:0 0 25px blue
}

.btn{
  display:inline-block;
  padding:1rem 2.8rem;
  background-color:black;
  border-radius:4rem;
  font-size:1.6rem;
  color:aqua;
  letter-spacing:0.3rem;
  font-weight:600;
  border:2px solid blue;
  transition:0.3s ease;
  cursor:pointer;
}

.btn:hover{
  transform:scale3d(1.03);
  background-color:blue;
  color:black;
  box-shadow: 0 0 25px blue; 
}

.typig-text{
  font-size:34px;
  font-weight:600;
  min-width: 280px;
}

.typing-text span{
  position:realtive;
}

typing-text span::before{
  content: "Web developer,";
  color:blue;
  animation: words 20s infinite;
}

.typing-text span::after{
  content: "";
  position:absolute;
  width: calc(100%+8px);
  height: 100%;
  border-left:3px solid black;
  background-color: black;
  animation:cursor 0.6s infinite;
  right:-8;
}

@keyframes cursor{
  to{
    border-left:3px solid blue;
  }
}

@keyframes words{
  0% {
    content: "Web developer,";
  }
  20% {
    content: "Web developer,";
  }
  21% {
    content: "Frontend developer,";
  }
  40% {
    content: "Frontend developer,";
  }
  41% {
    content: "Web Designer,";
  }
  60% {
    content: "Web Designer,";
  }
}

@media (max-width:1000px){
  .home{
    gap:4rem;
  }
}

@media (max-width:995px){
  .home{
    flex-direction:column;
    margin:5rem 4rem;
  }

  .home .home-content h3{
    font-size: 2.5rem
  }

  .home-content h1{
    font-size: 5rem;
  }

  .home-img img{
    margin-top:4rem;
  }
}